form.ac-attr-admin {
  .messages {
    .item-list {
      h3 {
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
      }

      ul {
        list-style-type: none;
        list-style-image: none;

        > li {
          padding: 0;
          list-style: inherit;

          .special-selector {
            display: inline-block;
            font-family: monospace;
            font-weight: bold;
            width: 2em;
          }
        }
      }
    }
  }

  .collapse-expand {
    margin: 0.5em 0;
  }

  fieldset {
    .fieldset-legend {
      text-transform: none;
    }

    .fieldset-wrapper > :last-child,
    .fieldset-wrapper > :last-child > input.form-submit {
      margin-bottom: 0;
    }
  }

  textarea::placeholder,
  input::placeholder {
    font-style: italic;
  }

  .field-path-patterns {
    font-family: monospace;
  }
}
